{% extends 'layout_audio.html' %}
{% load static %}
{% load custom_tag %}

{% block content_main %}
    <h1>История</h1>
    {#    <form action="{% url 'history-search' %}" method="get">#}
    {#        <label>#}
    {#            <input name="input_query" type="text" placeholder="Введите запрос">#}
    {#            <button>Search</button>#}
    {#        </label>#}
    {#    </form>#}
    <form id="search-form">
        <label for="input_query">Search:</label>
        <input type="text" name="input_query" id="input_query" placeholder="Enter your query">

        <label for="search_type">Search Type:</label>
        <select name="search_type" id="search_type">
            <option value="standard">Standard</option>
            <option value="ai">AI</option>
        </select>

        <button type="submit">Search</button>
    </form>

    <script>
        document.getElementById('search-form').addEventListener('submit', function (event) {
            event.preventDefault();
            var searchType = document.getElementById('search_type').value;
            var query = document.getElementById('input_query').value;
            var actionUrl = '';

            if (searchType === 'standard') {
                actionUrl = '{% url "history-search" %}';
            } else if (searchType === 'ai') {
                actionUrl = '{% url "history-ai-search" %}';
            }

            this.action = actionUrl;
            this.submit();
        });
    </script>
    <table>
        <thead>
        <tr>
            <th>Озвученный текст (text)</th>
            <th>Результат озвучивания (audio_file)</th>
            <th>Используемый голос (use_vote)</th>
            <th>Время добавления (time_add)</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in history_entries %}
            <tr>
                <td>{{ entry.text }}</td>
                <td>
                    <audio controls>
                        <source src="{{ entry.audio_file.url }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </td>
                <td><a href="{% url 'vote-view' %}" class="nav-link"
                       data-id="{{ entry.use_vote_id }}">{{ entry.use_vote }} </a></td>
                <td>{{ entry.time_add }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}