{% extends 'layout_audio.html' %}
{% load static %}
{% load custom_tag %}
{% block style %}{% static 'history/css/messages.css' %}{% endblock %}
{% block style2 %}{% static 'history/css/history.css' %}{% endblock %}
{% block content_main %}
    <h1>История</h1>
    {% filter_user history_ai_entries request.user.id as filter_history_ai_entries %}
    {% if filter_history_ai_entries %}
        {% include 'history/history_search_form.html' %}
        {% get_columns history_ai_entries as columns %}
        <table>
            <thead>
            <tr>
                {% for column in columns %}
                    {% if column != "object_id" and column != "user_id" %}
                        <th>{% get_columns_name column %}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for ai_entry in filter_history_ai_entries %}
                <tr>
                    {% for column in columns %}
                        {% if column != "object_id" and column != "user_id" %}
                            {% get_column_data column ai_entry as data %}
                            {% if column == "audio_file" %}
                                <td>
                                    <a href="{{ data }}">Аудио</a>
                                </td>
                            {% elif column == "text" %}
                                <td class="entry-text">{{ data }}</td>
                            {% else %}
                                <td>{{ data }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script>
            const entryTextCells = document.querySelectorAll('.entry-text');

            entryTextCells.forEach((cell) => {
                const words = cell.innerText.split(' ');
                let wrappedText = '';

                for (let i = 0; i < words.length; i++) {
                    if (i > 0 && i % 5 === 0) {
                        wrappedText += '<br>';
                    }
                    wrappedText += words[i] + ' ';
                }

                cell.innerHTML = wrappedText;
            });
        </script>
    {% elif search %}
        {% include 'history/history_search_form.html' %}
        <h5>Ничего не найдено</h5>
    {% else %}
        <h5>Пока нет истории, она появится как только преобразуйте текст в голос!</h5>
    {% endif %}

{% endblock %}