{% extends 'layout_audio.html' %}
{% load static %}
{% load custom_tag %}
{% block style %}{% static 'history/css/messages.css' %}{% endblock %}
{% block style2 %}{% static 'history/css/history.css' %}{% endblock %}
{% block content_main %}
    <h1>История</h1>
    <form id="search-form">
        {% csrf_token %}
        <label for="input_query"></label>
        <input type="text" name="input_query" id="input_query" placeholder="Введите ваш запрос">

        <label for="search_type"></label>
        <select name="search_type" id="search_type">
            <option value="standard">Стандартный</option>
            <option value="ai">ИИ</option>
        </select>

        <button type="submit">Поиск</button>
    </form>

    <script>
        document.getElementById('search-form').addEventListener('submit', function (event) {
            event.preventDefault();
            var searchType = document.getElementById('search_type').value;
            var query = document.getElementById('input_query').value;
            var actionUrl = '';

            if (searchType === 'standard') {
                actionUrl = '{% url "history-search" %}';
            } else if (searchType === 'ai') {
                actionUrl = '{% url "history-ai-search" %}';
            }

            this.action = actionUrl;
            this.submit();
        });
    </script>
    {% if history_entries %}
        <table>
            <thead>
            <tr>
                <th>Озвученный текст (text)</th>
                <th>Результат озвучивания (audio_file)</th>
                <th>Используемый голос (use_vote)</th>
                <th>Время добавления (time_add)</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in history_entries %}
                <tr>
                    <td class="entry-text">{{ entry.text }}</td>
                    <td>
                        <a href="{{ entry.get_absolute_url }}">Аудио</a>
                    </td>
                    <td>{{ entry.content_object.audio_name }}</td>
                    <td>{{ entry.time_add }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script>
            const entryTextCells = document.querySelectorAll('.entry-text');

            entryTextCells.forEach((cell) => {
                const words = cell.innerText.split(' ');
                let wrappedText = '';

                for (let i = 0; i < words.length; i++) {
                    if (i > 0 && i % 5 === 0) {
                        wrappedText += '<br>';
                    }
                    wrappedText += words[i] + ' ';
                }

                cell.innerHTML = wrappedText;
            });
        </script>
    {% elif search %}
        <h5>Ничего не найдено</h5>
    {% else %}
        <h5>Пока нет истории, она появится как только преобразуйте текст в голос!</h5>
    {% endif %}

{% endblock %}