<form id="search-form">
    <label for="input_query"></label>
    <input type="text" name="input_query" id="input_query" placeholder="Введите ваш запрос" value="{{ search_query }}">

    <label for="search_type"></label>
    <select name="search_type" id="search_type">
        <option value="standard">Стандартный</option>
        <option value="ai">ИИ</option>
    </select>

    <button type="submit">Поиск</button>
</form>

<script>
    document.getElementById('search-form').addEventListener('submit', function (event) {
        event.preventDefault();
        var searchType = document.getElementById('search_type').value;
        var query = document.getElementById('input_query').value;
        var actionUrl = '';

        if (searchType === 'standard') {
            actionUrl = '{% url "history-search" %}';
        } else if (searchType === 'ai') {
            actionUrl = '{% url "history-ai-search" %}';
        }

        this.action = actionUrl;
        this.submit();
    });
</script>