{% extends 'layout_audio.html' %}
{% load static %}
{#{% load tot_custom_tag %}#}
{% block style %}{% static 'vote/css/card.css' %}{% endblock %}

{% block content_main %}
    <h1>Список голосов</h1>
    <div class="file-cards">
        {% for audio in audio_files %}
            <div class="file-card" id="{{ audio.id }}">
                <h2>{{ audio.audio_name }}</h2>
                <h5>
                    Тэги:
                    {% for tag in audio.tags.all %}
                        <a href="{% url 'vote-tag-view' tag.slug %}" class="tag-link">{{ tag.name }}</a>{% if not forloop.last %},
                    {% endif %}
                    {% endfor %}
                </h5>
{#                {% get_total_usage audio.id as tot_usage %}#}
{#                <h6>Количество использований: {{ tot_usage }}</h6>#}
{#                <hr>#}
                <a href="{{ audio.get_absolute_url }}" class="audio-button">Подробнее</a>
            </div>
        {% endfor %}
    </div>
    <script>
        function playAudio(audioId) {
            var audioPlayer = document.getElementById("audio-player-" + audioId);
            if (audioPlayer) {
                audioPlayer.play();
            }
        }

        function pauseAudio(audioId) {
            var audioPlayer = document.getElementById("audio-player-" + audioId);
            if (audioPlayer) {
                audioPlayer.pause();
            }
        }

        function seekAudio(audioId, time) {
            var audioPlayer = document.getElementById("audio-player-" + audioId);
            if (audioPlayer) {
                audioPlayer.currentTime = time;
            }
        }

    </script>

{% endblock %}