{% extends 'layout_audio.html' %}
{% load static %}
{% block style %}{% static 'vote/css/card.css' %}{% endblock %}

{% block content_main %}
    <h1>Список голосов</h1>

    {% for audio in audio_files %}
        <div class="audio-card" id="{{ audio.id }}">
            <h2>{{ audio.audio_name }}</h2>
{#            <audio id="audio-player-{{ forloop.counter }}" controls>#}
{#                <source src="{{ audio.audio_file.url }}" type="audio/mpeg">#}
{#            </audio>#}
            <a href="{{ audio.get_absolute_url }}">Аудио</a>
            <h4>Тэги:</h4>
            <h5>
                {% for tag in audio.tags.all %}
                    <a href="{% url 'vote-tag-view' tag.slug %}">{{ tag.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </h5>
        </div>
    {% endfor %}

    <script>
        function playAudio(audioId) {
            var audioPlayer = document.getElementById("audio-player-" + audioId);
            if (audioPlayer) {
                audioPlayer.play();
            }
        }

        function pauseAudio(audioId) {
            var audioPlayer = document.getElementById("audio-player-" + audioId);
            if (audioPlayer) {
                audioPlayer.pause();
            }
        }

        function seekAudio(audioId, time) {
            var audioPlayer = document.getElementById("audio-player-" + audioId);
            if (audioPlayer) {
                audioPlayer.currentTime = time;
            }
        }

    </script>

{% endblock %}