{% extends 'layout_audio.html' %}
{% load static %}

{% block style %}{% static 'user_profile/css/edit.css' %}{% endblock %}
{% block style2 %}{% static 'history/css/messages.css' %}{% endblock %}
{% block title %}Edit account{% endblock %}
{% block content_main %}
    <div class="text-converter-form">
    <h1 class="text-converter-form">Изменение данных аккаунта</h1>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить"></p>
        </form>
    </div>
{% endblock %}