{% extends "layout_audio.html" %}
{% load static %}
{% block style %}{% static 'user_profile/css/registration/password_reset_confirm.css' %}{% endblock %}
{% block title %}Reset your password{% endblock %}
{% block content_main %}
    <h1 class="password-reset-title">Повторная установка пароля</h1>
    {% if validlink %}
        <div class="password-reset-form">
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Сменить пароля"/></p>
            </form>
        </div>
    {% else %}
        <p class="invalid-link-message">Ссылка для сброса пароля недействительна, возможно потому что она уже была
            использована. Пожалуйста, запросите сброс нового пароля.</p>
    {% endif %}
{% endblock %}