{% extends "layout_audio.html" %}
{% block title %}Change your password{% endblock %}
{% load static %}
{% block style %}{% static 'user_profile/css/registration/password_change_form.css' %}{% endblock %}

{% block content_main %}
    <h1 class="password-reset-title">Смена пароля</h1>
    <div class="password-reset-form">
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Сменить пароля"/></p>
        </form>
    </div>
{% endblock %}