{% extends "layout_audio.html" %}
{% load static %}
{% block style %}{% static 'user_profile/css/registration/password_reset_form.css' %}{% endblock %}
{% block title %}Reset your password{% endblock %}
{% block content_main %}
    <h1 class="forgot-password-title">Забыли пароль?</h1>
    <div class="forgot-password-form">
        <form method="post">
            {{ form.as_p }}
            <p>Введите ваш email, который вы указывали при регистрации.</p>
            <p><input type="submit" value="Отправить письмо"></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}