.password-change-title {
    text-align: left;
    margin-top: 10px;
    font-size: 30px;
}

.password-change-message {
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
}

.password-change-error {
    text-align: left;
    margin-top: 20px;
    font-size: 16px;
}