.password-setup-title {
    text-align: left;
    margin-top: 10px;
    font-size: 30px;
}

.success-message {
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
}

.success-message a {
    color: #4CAF50;
    text-decoration: none;
}

.success-message a:hover {
    text-decoration: none;
    color: grey;
}