{% extends 'layout_audio.html' %}
{% load static %}
{% block style %}{% static 'history/css/messages.css' %}{% endblock %}
{% block style2 %}{% static 'history/css/history.css' %}{% endblock %}
{% block content_main %}
    <h1>Статус обработки</h1>
    {% if audio_manager %}
        <div id="btc" hx-get="{% url 'audio-manager-view' %}" hx-trigger="every 10s" hx-swap="innerHTML">
            {% include 'text_to_audio_manager/status_table.html' %}
        </div>
    {% else %}
        <h5>Пока нет очереди, она появится как только преобразуйте текст в голос!</h5>
    {% endif %}
{% endblock %}