{% extends 'layout_audio.html' %}
{% load static %}
{% block style %}{% static 'user_vote/css/user_votes.css' %}{% endblock %}

{% block content_main %}
    {% if user_vote %}
        <h1>Пользовательские голосов</h1>

        <div class="file-cards">
            <div class="file-card plus-card">
                <a href="{% url 'vote-create-user' %}"><i class="bi bi-plus-circle-dotted" style="font-size: 5rem; color: gray"></i></a>
            </div>
            {% for audio in user_vote %}
                <div class="file-card" id="{{ audio.id }}">
                    <h2>{{ audio.audio_name }}</h2>
                    <h5>
                        Тэги:
                        {% for tag in audio.tags.all %}
                            <a href="{% url 'vote-tag-view-user' tag.slug %}" class="tag-link">
                                {{ tag.name }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </h5>
                    <hr>
                    <a href="{{ audio.get_absolute_url }}" class="audio-button">Подробнее</a>
                    <a href="{% url 'vote-delete-user' audio.id %}" class="delete-button"><i
                            class="bi bi-trash"></i></a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Вы ещё не добавили свой голос, вы можете сделать это нажав <a href="{% url 'vote-create-user' %}">добавить
            свой
            голос</a></p>
    {% endif %}

    <script>
        function playAudio(audioId) {
            var audioPlayer = document.getElementById("audio-player-" + audioId);
            if (audioPlayer) {
                audioPlayer.play();
            }
        }

        function pauseAudio(audioId) {
            var audioPlayer = document.getElementById("audio-player-" + audioId);
            if (audioPlayer) {
                audioPlayer.pause();
            }
        }

        function seekAudio(audioId, time) {
            var audioPlayer = document.getElementById("audio-player-" + audioId);
            if (audioPlayer) {
                audioPlayer.currentTime = time;
            }
        }

    </script>

{% endblock %}